.row
  .col-sm-10.col-sm-offset-1.round-corners.main-container.about-me-container
    %h1.text-center.ntf About Me
    .row
      .col-sm-6.col-sm-offset-2
        &emsp;&emsp;&emsp;&emsp;I have many roles as I’m sure all of you do.  First and foremost, I am a wife and a mother of two.  I also strongly identify myself as a daughter, sister, auntie, and friend.  Waitressing can be loosely linked to my identity since that happens to be my day job; however, I at least love working at that unique restaurant.  If by chance you are incredibly curious about me, I have many loves in different fields of which include music, art, crafts, psychology, astronomy and philosophy along with many others that have escaped my mind at this moment.  
      .col-sm-2
        = image_tag("mini_me.png", class: 'img-responsive')