/ #main-img
/   .row.navbar-fixed-top.hidden-sm.hidden-xs
/     .col-sm-4
/       .div.preview-box.img-circle.pb-1
/         &nbsp;
/     .col-sm-4
/       .div.preview-box.img-circle.pb-2
/         &nbsp;
/     .col-sm-4
/       .div.preview-box.img-circle.pb-3
/         &nbsp;
/   .row.navbar-fixed-bottom.hidden-sm.hidden-xs
/     .col-sm-4
/       .div.preview-box.img-circle.pb-4
/         &nbsp;
/     .col-sm-4
/       .div.preview-box.img-circle.pb-5
/         &nbsp;
/     .col-sm-4
/       .div.preview-box.img-circle.pb-6
/         &nbsp;