%hr.question-hr
- link = fq.question == 'NEW FAQ' ? fq.answer : "#question-#{fq.id}"
%a{href: "#{link}"}
  %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
  = fq.question
  %br
  %hr.question-hr