.row
  .col-sm-10.col-sm-offset-1.main-container.faq-main
    %h1.text-center.ntf Frequenty Asked Questions
    - if current_user && current_user.admin?
      .new-work
        %a.no-decoration.btn.btn-xs{href: "#{new_my_work_path}"}
          %span.glyphicon.glyphicon-plus{title: 'New My Work'}
    .row
      .col-sm-10.col-sm-offset-1.faq-questions.faq-questions
        - @faqs.each do |fq|
          = render partial: 'question', locals: { fq: fq }
.row
  .col-sm-10.col-sm-offset-1  
    #faq-section
      = render partial: 'faq'
    %br
    %p
      = link_to "To The Top!", '#top', class: 'btn btn-purple btn-xs'