.row
  .col-sm-10.col-sm-offset-1
    .main-container.faq-main
      %h1.text-center.ntf Frequenty Asked Questions
      .row
        .col-sm-10.col-sm-offset-1.faq-questions.faq-questions
          - if current_user && current_user.admin?
            = render partial: 'question', locals: { fq: Faq.new(question: 'NEW FAQ', answer: '/faqs/new') }
          - @faqs.each do |fq|
            = render partial: 'question', locals: { fq: fq }
    #faq-section
      = render partial: 'faq'
    %br
    %p
      = link_to "To The Top!", '#top', class: 'btn btn-purple btn-xs'