%h1.text-center Frequenty Asked Questions
.row.faq-questions
  .col-sm-12
    - if current_user && current_user.admin?
      = render partial: 'question', locals: { fq: Faq.new(question: 'NEW FAQ', answer: '/faqs/new') }
    - @faqs.each do |fq|
      = render partial: 'question', locals: { fq: fq }
#faq-section
  = render partial: 'faq'
%p
  = link_to "To The Top!", '#top'