.row
  .col-sm-10.col-sm-offset-1
    %h1.text-center.main-container.round-corners.faq-main.ntf Frequenty Asked Questions
    .row.faq-questions
      .col-sm-12
        - if current_user && current_user.admin?
          = render partial: 'question', locals: { fq: Faq.new(question: 'NEW FAQ', answer: '/faqs/new') }
        - @faqs.each do |fq|
          = render partial: 'question', locals: { fq: fq }
    #faq-section
      = render partial: 'faq'
    %p
      = link_to "To The Top!", '#top', class: 'btn btn-default btn-xs'