.row#my-work-show
  .col-sm-10.col-sm-offset-1.main-container
    .row
      .col-sm-6.remove-right-padding
        %div.tabbable.tabs-left{:role => "tabpanel"}
          .row
            .col-sm-2.col-sm-offset-1#my-work-show-left-tabs
              = render partial: 'thumbnail_list'
            .col-sm-9
              = render partial: 'full_image'
      .col-sm-6.remove-right-padding
        .row
          .col-sm-11
            = render partial: 'description'