.row
  .col-sm-8.col-sm-offset-2.round-corners.main-container
    %h1.text-center.ntf New User
    %p.text-center
      User registration is closed right now. Please check back later to see if it has been enabled.
    = link_to 'Back', root_path, class: 'btn btn-purple btn-xs'