#image_cropbox {
	width: 100%;
}

.tabpanel {
	overflow: hidden;
}

#pictures-tbody {
	& td {
		&.mini-pic {
			width: 100px;
		}
		&.description {
			width: 40%;
		}
		&.file_name {
			width: 225px;
		}
		&.main_image {
			width: 50px;
		}
	}
}

.tab-load {
	background-color: #F3E5FF;
}

.not-cropped {
	border: 1px solid red !important;
}

#my-work-show-left-tabs {

}

#my-works-index {
	margin-top: 2em;
}

.thumb-force-width {
	min-width: 55px !important;
}

.img-force-width {
	min-width: 205px !important;
}

#my-work-info {
	margin: 10px;
	background-color: white !important;
	min-height: 10em;
	padding: 10px;
}

.drop-down-pic-options {
	position: absolute !important;
  top: 1em !important;
}

.edit-cog {
  z-index: 999;
}

.thumbnail-title {
	float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: black;
  color: white;
  width: 100%;
}

.my-work-links {
	position:relative;
  margin-bottom: 2em;
}

ul.dropdown-menu {
	float: right;
}