body {
  background-color: #f3e5ff !important;
  background-image: image-url("background-flipped.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  min-height: 100vh !important;
  padding-top: 51px !important;
  height: 100%;
}

@font-face {
  font-family: 'national-cartoon-font';
  src: font-url('national-cartoon-webfont.eot');
  src: font-url('national-cartoon-webfont.eot?iefix') format('eot'),
       font-url('national-cartoon-webfont.woff') format('woff'),
       font-url('national-cartoon-webfont.ttf') format('truetype'),
       font-url('national-cartoon-webfont.svg#webfont') format('svg');
}

.main-container {
  background: rgb(168, 168, 168) !important;
  background: rgba(168, 168, 168, 0.6) !important;
  padding-top: .4em;
  padding-bottom: .4em;
  margin-top: 0;
  margin-bottom: .285em;
}

html {
    height: 100%;
    margin: 0px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.error, .login_error {
  color: red;
  padding-bottom: 5px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
}

#error_explanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#top-nav-bar {
  z-index: 99999;
}

.phone-radio-group {
  background-color: white;
  border: 1px solid;
  border-radius: 5px;
  border-color: white;
  padding: 5px 0 5px 5px; 
  height: 32px;
  position: relative;
}

.radio-button { 
  padding-top: 0 !important;
}

img#title-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  vertical-align: middle;
  padding-top: 2em;
  padding-bottom: 2em;
}

img#top-image {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#user-auth {
  width: 100%;
}

.login-box {
  padding-top: .3em;
}

img#brand-icon {
  width: 32px;
  height: auto;
  position: relative;
  top: -5px;
}

div#header.row.jumbotron {
  height:100vh;
  margin-bottom: 0;
  background-color: #f3e5ff !important;
}

div#page-title.row.jumbotron {
  margin-bottom: 0;
  background-color: #f3e5ff !important;
}

.white {
  background-color: white;
}

.lp {
  background-color: #efdbff;
  padding: 1em 1em 1em 1em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.dp {
  background-color: #bd59ff;
  padding: 1em 1em 1em 1em;
}

.very-light-grey {
  background-color: #e0e0e0;
}

.anchor {
  min-height: 51px;
}

footer {
  min-height: 5em;
}

#top {
  min-height: 51px;
}

.round-corners {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#mymodal-body {
  text-align: center;
  background-color: #383838 !important;
  font-size: 1.5em;
}

p.inline {
    display: inline;
}

.inline {
    display: inline;
}

.question-section {
  margin-bottom: 2em;
}

.faq-edit-answer {
  min-height: 20em;
}

.padding-top {
  padding-top: 5em;
}

.remove-right-padding {
  padding-right: 0 !important;
}

.fill { 
  min-height: 100% !important;
  height: 100% !important;
}

hr.question-hr {
  margin-top: 0;
  margin-bottom: 0;
}

.ntf {
  font-family: 'national-cartoon-font';
  font-size: 5em;
}

span.faq-goto {
  margin-top: -51px;        /* Size of fixed header */
  padding-bottom: 51px; 
  display: inline-block;
}

.dropzone {
  min-height: 150px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
  padding: 20px 20px;
}

.dropzone.dz-clickable {
  cursor: pointer;
}

.dropzone .dz-message {
  text-align: center;
  margin: 2em 0;
}

.red-text {
  color: red;
}

.remove-top-margin {
  margin-top: 0 !important;
}