body {
  background-color: #f3e5ff !important;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  min-height: 100vh !important;
  padding-top: 51px !important;
}



p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.error, .login_error {
  color: red;
  padding-bottom: 5px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
}

#error_explanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.grey {
  background-color: #adadad;
}

#top-nav-bar {
  padding-top: 5px;
}

.phone-radio-group {
  background-color: white;
  border: 1px solid;
  border-radius: 5px;
  border-color: white;
  padding: 5px 0 5px 5px; 
  height: 32px;
  position: relative;
}


.radio-button { 
  padding-top: 0 !important;
}

img#title-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  vertical-align: middle;
}

img#top-image {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#user-auth {
  width: 100%;
}

.login-box {
  padding-top: .3em;
}

img#brand-icon {
  width: 32px;
  height: auto;
  position: relative;
  top: -5px;
}

div#header.row.jumbotron {
  height:100vh;
  margin-bottom: 0;
  background-color: #f3e5ff !important;
}

div#page-title.row.jumbotron {
  margin-bottom: 0;
  background-color: #f3e5ff !important;
}

.white {
  background-color: white;
}

.lp {
  background-color: #efdbff;
  padding: 1em 1em 1em 1em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.dp {
  background-color: #bd59ff;
  padding: 1em 1em 1em 1em;
}

.very-light-grey {
  background-color: #e0e0e0;
}

.anchor {
  min-height: 51px;
}

footer {
  min-height: 5em;
}

#top {
  min-height: 51px;
}

.faq-questions {
  background-color: #efdbff;
  padding: 1em 1em 1em 1em;
  line-height: 2em;
}

.faq-question {
  background-color: #bd59ff;
  padding: 1em 1em 1em 1em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 1em 1em 1em 1em;
}

.faq-answer {
  background-color: #efdbff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 1em 1em 1em 1em;

}

.round-corners {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.PopupPanel
{

    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;

    border: solid 1px black;
    background-color: #383838 !important;
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: white;
    z-index: 100;

    text-align: center;
    height: 100px;
    margin-top: -50px;

    width: 300px;
    margin-left: -150px;

    font-size: 1.5em;
}

#mymodal-body {
  text-align: center;
  background-color: #383838 !important;
  font-size: 1.5em;
}