%nav#top-nav-bar.navbar.navbar-bav.navbar-default.nav-justified
  .container-fluid
    %ul.nav.nav-pills.nav-justified
      - selected = selected ? selected.gsub('_',' ').split.map(&:capitalize).join(' ') : nil
      %li{:role => "presentation", class: "#{'active' if selected == t('home')}"}
        %a{:href => "/"} 
          = t('home')
      %li{:role => "presentation", class: "#{'active' if selected == t('contact_me')}"}
        %a{:href => "/contact_me"}
          = t('contact_me')